POST windows command enqueue

fleetctl design is outlined in linked Figma in the story here: #13069 

API design for the GET endpoint is outlined in this PR to the API docs: https://github.com/fleetdm/fleet/pull/14239

Permissions are the same as for the existing `POST /apple/mdm/enqueue` endpoint (in particular, note that `gitops` permission has been cut from the spec and that was the only difference with the macos endpoint: https://github.com/fleetdm/fleet/issues/13595#issuecomment-1755623534)

`POST /api/v1/fleet/mdm/commands/run`

| Name                      | Type   | In    | Description                                                               |
| ------------------------- | ------ | ----- | ------------------------------------------------------------------------- |
| command                   | string | json  | A base64-encoded MDM command as described in [Apple's documentation](https://developer.apple.com/documentation/devicemanagement/commands_and_queries) or [Windows's documentation](https://learn.microsoft.com/en-us/openspecs/windows_protocols/ms-mdm/0353f3d6-dbe2-42b6-b8d5-50db9333bba4). Supported formats are standard ([RFC 4648](https://www.rfc-editor.org/rfc/rfc4648.html)) and raw (unpadded) encoding ([RFC 4648 section 3.2](https://www.rfc-editor.org/rfc/rfc4648.html#section-3.2)) |
| host_uuids                | array  | json  | An array of host UUIDs enrolled in Fleet's MDM on which the command should run.                   |

Example command payload for Windows, before base64-encoding: https://gist.github.com/marko-lisica/b7fac573397da68acf4b4b86f2e7bed3 (that is, the top-level element must be `<Exec>`).

For fleetctl errors, see the linked Figma in the story.

Possible API errors:

- [x] 404: Error: No hosts targeted. Make sure you provide a valid UUID. 
- [x] 402: Error: Missing or invalid license. <Premium only command | Wipe> command is available in Fleet Premium only.
- [x] 400: Error: MDM features aren't turned on in Fleet. For more information about setting up MDM, please visit https://fleetdm.com/docs/using-fleet
  - This was updated from the original design: see https://github.com/fleetdm/fleet/issues/13595#issuecomment-1743736950
  - 400: Error: Windows MDM isn’t turned on. Visit https://fleetdm.com/docs/using-fleet to learn how to turn on MDM.
  - 400: Error: macOS MDM isn’t turned on. Visit https://fleetdm.com/docs/using-fleet to learn how to turn on MDM.
- [x] 412: Error: Can't run the MDM command because one or more hosts have MDM turned off. Run the following command to see a list of hosts with MDM on: fleetctl get hosts --mdm.
- [x] 403: Error: Forbidden
  - This was updated from the original design
- [x] 422: Error: You can run only `<Exec>` command type.
- [x] 422: Error: You can run only a single `<Exec>` command.
- [x] 422: Error: All hosts must be on the same platform.
- [x] 422: Error: Invalid platform. ~~You can only run Windows MDM commands on Windows hosts.~~ You can only run MDM commands on Windows or macOS hosts.
- [x] 422: Error: The payload isn't valid XML. ~~Please provide a file with valid XML~~: plist: error parsing XML property list: encountered unknown element dic (I removed the part about "providing a file" as this doesn't apply to the API)

Example request XML, (for `wipe` command if any LocURI includes `RemoteWipe`) https://learn.microsoft.com/en-us/openspecs/windows_protocols/ms-mdm/71a45e87-4c0a-43bc-b76f-b427ac8322be

Response:

```json
{
  "command_uuid": "a2064cef-0000-1234-afb9-283e3c1d487e",
  "platform": "darwin", // or windows
  "request_type": "./Device/Vendor/MSFT/Reboot/RebootNow"
}
```

@georgekarrv heads-up: seems like this was added to `:release` by accident

@georgekarrv is this supposed to be a subtask of the MDM protocol commands story?

yes


Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Drafting-ships-in-6-weeks-6192dd66ea2562000faea25c/issues/fleetdm/fleet/13595?planning-poker) with Zenhub @ghernandez345 @gillespi314 @marcosd4h @mna @roperzh

@noahtalerman @marko-lisica heads-up, this error:

> 404: Error: No hosts targeted. Make sure you provide a valid hostname, UUID, osquery host ID, or node key.

mentions a number of different fields, but the API endpoint only accepts host UUIDs:

> device_ids | array | json | An array of host UUIDs enrolled in Fleet's MDM on which the command should run.

which is consistent with how the endpoint to enqueue macOS MDM commands works: https://fleetdm.com/docs/rest-api/rest-api#parameters58

Note that the CLI will allow various fields to identify the host, but this is a distinct validation (e.g. for the current `fleetctl mdm run-command` for macOS, this is done here, in fleetctl: https://github.com/fleetdm/fleet/blob/main/cmd/fleetctl/mdm.go#L66-L79).

@noahtalerman @georgekarrv another difference from the error messages listed in the spec:

>  412: Error: Windows MDM isn’t turned on. Visit https://fleetdm.com/docs/using-fleet to learn how to turn on MDM.

There's a common middleware used for all endpoints that require MDM, it responds with a status 400 and the message  "MDM features aren't turned on in Fleet. For more information about setting up MDM, please visit https://fleetdm.com/docs/using-fleet/mobile-device-management".


@noahtalerman @marko-lisica I believe a single SyncML message could contain multiple commands, do we want to limit this endpoint so that only one command can be provided as part of the base64-encoded XML `command` parameter? 

If not it would mean that we'd generate a single "command uuid" for multiple commands to be run on multiple devices, and I don't think that would play well with the rest of our features (e.g. `fleetctl get mdm-command-results` and all). Another option would be to generate a different `command_uuid` for each command provided in the XML, but then it's the response from this endpoint that would be different/incompatible with the existing Apple MDM commands.

/cc @marcosd4h 

>  the API endpoint only accepts host UUIDs

> Note that the CLI will allow various fields to identify the host, but this is a distinct validation

@mna sorry for the late reply. So, if I'm understanding correctly `fleetctl mdm run-command` will accept one of these fields: hostname, UUID, osquery host ID, or node key.

The API will only accept UUID. 

So the error message for the API (invalid UUID) should look different than the error message for the CLI here:

```
Error: No hosts targeted. Make sure you provide a valid hostname, UUID, osquery host ID, or node key.
```

Is that right? What does the error message for the API look like?

> There's a common middleware used for all endpoints that require MDM, it responds with a status 400 and the message "MDM features aren't turned on in Fleet. For more information about setting up MDM, please visit https://fleetdm.com/docs/using-fleet/mobile-device-management".

@mna are you suggesting that we change the plan? Have one error message for macOS and Windows instead of these distinct ones?

 
![Screenshot 2023-10-03 at 5 07 16 PM](https://github.com/fleetdm/fleet/assets/47070608/d5666102-23a5-4ece-b419-dd4a9e773cae)


> do we want to limit this endpoint so that only one command can be provided as part of the base64-encoded XML command parameter?

@mna how would this affect the IT admin UX? Would they only be able to provide an XML `--payload` with one `<Exec>` object? Would we be able to throw an error if they try to add more than 1?

If yes to both, I think that's ok for the first iteration. Maybe even better than allowing the flexibility of more than one command per message. As a user, I'm just trying to run one command.

@marko-lisica what do you think?

Somewhat related: Martin, heads up that in the upcoming Windows profiles feature (#13281), the plan is to generate a single "command uuid" for each profile that might, technically, have multiple commands (it's really one command per profile to the user). 

The plan is to give Windows profile commands the "InstallProfile" type. See the expected UX [here](https://www.figma.com/file/eC1C8kp9grdPMAZGvR0ibT/%2313281-Enforce-configuration-on-Windows?type=design&node-id=240%3A5662&mode=design&t=zM6rMCoTMRqdkOdW-1) in Figma.

> how would this affect the IT admin UX? Would they only be able to provide an XML --payload with one <Exec> object? Would we be able to throw an error if they try to add more than 1?

@mna @noahtalerman I would limit to one <Exec> element per XML `--payload`. I don't see any benefit of having multiple <Exec> commands in one `--payload` file, except it is a little easier if doing more commands at once. Troubleshooting will be easier if we allow only one command since the user will be able to see type (OMA URI) and result from the MDM protocol for that command in the same table.



> There's a common middleware used for all endpoints that require MDM, it responds with a status 400 and the message "MDM features aren't turned on in Fleet. For more information about setting up MDM, please visit https://fleetdm.com/docs/using-fleet/mobile-device-management".

Since we can target only hosts with the same platform, I think it makes sense to have dedicated messages, if one of the MDMs isn't enabled.

@mna @noahtalerman I don't know if there's some reason to not do this ^? If yes we should update URL in the current error message since it's not working  (https://fleetdm.com/docs/using-fleet/ ~~mobile-device-management~~).



> So, if I'm understanding correctly fleetctl mdm run-command will accept one of these fields: hostname, UUID, osquery host ID, or node key.
> The API will only accept UUID.

@noahtalerman yes that's correct.

> What does the error message for the API look like?

Typically we have a standard error message for 404s, it's "Resource not found" with a status 404.

> There's a common middleware used for all endpoints that require MDM, it responds with a status 400 and the message "MDM features aren't turned on in Fleet. For more information about setting up MDM, please visit https://fleetdm.com/docs/using-fleet/mobile-device-management".

> @mna are you suggesting that we change the plan? Have one error message for macOS and Windows instead of these distinct ones?

@noahtalerman This comment was made before we changed this endpoint to be platform-agnostic, so things are a bit different now. If no MDM is enabled (neither macos nor windows), the common error message will be returned (as this is caught by a mechanism that is common to all endpoints that require mdm to be on). But once we know if the endpoint targets windows or macos (that is, after we've loaded the hosts and validated their platforms), we can return the platform-specific MDM error messages. 

So I don't think anything needs to change regarding the figma for those messages, except the addition of a message case if no mdm at all is enabled (which will result in the common error message mentioned above).

> how would this affect the IT admin UX? Would they only be able to provide an XML --payload with one <Exec> object? Would we be able to throw an error if they try to add more than 1?

@noahtalerman yes and yes, so as per your comment I'll limit to 1 command for this iteration, error 422 `You can run only a single <Exec> command.` (similar to the other validation `You can run only <Exec> command type.`).

> we should update URL in the current error message since it's not working (https://fleetdm.com/docs/using-fleet/ mobile-device-management).

@marko-lisica good catch! Let me know what it should point to and I'll update it, as this is used for all mdm-related endpoints. (https://fleetdm.com/docs/using-fleet/mdm-setup I guess?)

@mna We decided to link to https://fleetdm.com/docs/using-fleet since there will be separate pages for macOS and Windows MDM setup.

cc @marko-lisica ^^

@noahtalerman @marko-lisica You might've missed my edit on that 404 comment as I don't think it notifies folks of changes:

> That being said, in this case it might not be super clear why the caller gets a 404 since it's not a typical "get that specific resource" endpoint, so I think it might make sense to return a more precise message, maybe like the one that was planned except just for UUID, e.g. `No hosts targeted. Make sure you provide a valid UUID.`?

Otherwise the default 404 message does not say which resource was not found.

@marko-lisica what do you think?^

So CLI will return errors that are in Figma, and API will return `No hosts targeted. Make sure you provide a valid UUID.` Looks good to me. @noahtalerman 

@noahtalerman @marko-lisica Regarding permissions to run command, they seem to be the same as the ones we had for Apple MDM commands except for one important difference (quoted from the epic ticket, emphasis mine):

> Only maintainers and up can run commands. **GitOps users can run commands.** Team maintainer and team admins can only run commands on hosts assigned to their team.

Do we really want to allow the `gitops` role to run commands or was that inserted by mistake? This seems unlikely given that the `fleetctl mdm run-command` seems more appropriate for interactive tasks, but just to confirm.

Note that allowing gitops to run commands is _significantly_ more work, because this role by definition has no "read" access at all and we use read authorization in multiple places in order to support running commands (in the api we have to read the list of hosts corresponding to the uuids, we read the license if the command is premium, in fleetctl we make read calls to get hosts by hostname/uuid/etc.).

@mna thanks for calling this out. I think we can cut the ability for GitOps user to run MDM commands.

> allowing gitops to run commands is significantly more work, because this role by definition has no "read" access at all and we use read authorization in multiple places in order to support running commands (in the api we have to read the list of hosts corresponding to the uuids, we read the license if the command is premium, in fleetctl we make read calls to get hosts by hostname/uuid/etc.).

Commands queued and set,
Windows or macOS met,
Fleet makes no threat.

Cloud city's glow in sight,
Enrollment done just right,
Fleet takes flight, light as a kite.

Errors cleared, no fright,
Fleet's power, pure and bright,
Guides us through the digital night.